.estab__card {
    @include j-column(1/4);
    border: 1px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    position: relative;
    padding-bottom: 5px;
    transition: .4s;

    a {
        color: #333;
    }

    @include medium {
        width: 100%;
        margin: 0 auto;
    }

    &--title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        color: $color-secondary;
        padding: 20px 0;
        margin: 0;
    }

    figure {
        margin: 0;
        padding: 0;
        position: relative;

        img {
            @include medium {
                margin: 0 auto;
                display: block;
            }
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            background: url("../images/card-hover.png") center center no-repeat rgba(0,0,0,.8);
            width: 100%;
            height: 99%;
            top: 0;
            z-index: 10;
            opacity: 0;
            transition: .4s;
        }

        &:hover {
            &:after {
                opacity: 1;
                transition: .4s;
            }
        }
    }

    &:hover {
        border-color: $color-primary;
    }
}

.estab__desc {
    background-color: $color-primary;
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    display: inline-block;
    position: absolute;
    top: 80px;
    color: #fff;

    &:after {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 10px solid $color-primary;
        display: inline-block;
        content: "";
        position: absolute;
        right: -10px;
        top: 0;
    }
}

.estab__description {
    width: 100%;
    padding: 5px;
    font-size: 13px;

    i {
        float: left;
        width: 15px;
        height: 18px;
        margin-right: 5px;
    }
}

.estab__stars {
    width: 100%;
    display: block;
    padding: 10px 0;

    img {
        margin: 0 auto;
        display: block;
    }
}

.estab__avalia,
.estab__distance {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

.icon-avalia {
    background: url("../images/icon-avalia.png") no-repeat;
}

.icon-distance {
    background: url("../images/icon-distance.png") no-repeat;
}