.tabs-container {
  width: 100%;

  &:after {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    clear: both;
  }
}

.tabs-menu {
    width: 100%;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    display: inline-block;

    &:after {
      content: "";
      width: 44%;
      display: block;
      height: 1px;
      background-color: #DDDDDD;
      margin: 0 auto;
    }
}

.tabs-menu li {
    display: inline-block;
    padding: 0 15px 10px;
    text-align: center;
}

.tabs-menu li.current {
    background-color: #fff;
    border-bottom: 2px solid $color-primary;
}

.tabs-menu li a {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 20px;
}

.tabs-menu .current a {
    color: $color-primary;
}

.tab {
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.tab-content {
    width: 100%;
    display: none;
    padding-top: 30px;
}

#tab-1 {
 display: block;   
}