// Lists. (ul) // -------------------------------------------------------

%default-menu {
	width: 100%;
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
}

%default-menu-vertical-itens {
	display: inline-block;
	margin: 0 10px;
}

%list-inline {

}