/* Header Styles */

.header {
    width: 100%;
    border-top: 2px solid $color-primary;
    background: url(../images/header-bg.jpg) no-repeat center top;
    @include j-column(2/2);
    min-height: 550px;
    height: 100%;

    a {
        color: #fff;
    }
}

.logo {
    @include j-column(1/2);
    margin: 30px 0 0 0;
}

.loc {
    @include j-column(1/2);
    text-align: right;
    padding-top: 30px;
    font-size: 13px;
    margin-right: 0;
}

.opt {
    @include j-column(1/2);
    text-align: right;
    padding-top: 20px;
    font-size: 13px;
    margin-right: 0;

    a {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.icon-pin {
    background: url(../images/sprite-header.png) no-repeat;
    background-position: 0 -2px;
    display: inline-block;
    width: 18px;
    height: 18px;
}

.icon-login {
    background: url(../images/sprite-header.png) no-repeat;
    background-position: -33px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.icon-cart {
    background: url(../images/sprite-header.png) no-repeat;
    background-position: -70px -2px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

/*
    Search Container
*/

.search-container {
    @include j-column(2/2);
    clear: both;
    padding-top: 8em;

    form, fieldset {
        width: 100%;
        position: relative;
    }

    input[type="search"] {
        width: 98%;
        height: 60px;
        border-radius: 5px;
        border: 2px solid #ddd;
        padding-left: 10px;
        outline: none;

        @include medium {
            width: 96%;
        }
    }
}

.go-search {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: url(../images/search.png) transparent center center;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    outline: none;
}

/*
    Categorias
*/

.categories-container {
    width: 100%;
    clear: both;
    padding-top: 10px;
}

.list-categories {
    list-style: none;
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 50px auto 0;
    text-align: center;
    background: rgba(255,255,255,.4);
    padding: 20px 0;
    clear: both;
    border-radius: 5px;

    li {
        display: inline-block;
        margin-right: 10px;
        max-width: 120px;
        width: 100%;
        text-transform: uppercase;
        font-size: 12px;

        a {
            transition: .4s;
        }

        &:hover {
            i {
                transform: translate(0,-10px);
                transition: .4s;
            }

            a {
                color: $color-secondary;
                transition: .4s;
            }
        }

        i {
            background: url("../images/sprite-categories.png") no-repeat;
            display: block;
            width: 100%;
            height: 50px;
            margin-bottom: 10px;
            transition: .4s;
        }

            &:nth-child(1) i {
                background-position: 43px 0;
            }

            &:nth-child(2) i {
                background-position: 40px -61px;
            }

            &:nth-child(3) i {
                background-position: 31px -123px;
            }

            &:nth-child(4) i {
                background-position: 37px -186px;
            }

            &:nth-child(5) i {
                background-position: 30px -245px;
            }
    }
}